/* FUENTES */
@font-face {
    font-family: "nevis"; /*NOMBRE*/
    src: url("./fonts/nevis.eot"); /*DIRECCION DE LA FUENTE*/
    /* PARA ARREGLAR EN CASO DE FALLO VISULIZACION,  FORMAT 
    agregar los formatos de fuentes en caso de fallo de eot */
    src: url("./fonts/nevis.eot?#iefix") format("embedded-opentype"),
     url("./fonts/nevis.woff") format("woff"),
     url("./fonts/nevis.ttf") format("truetype"),
     url("./fonts/nevis.svg") format("svg");

     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: "fajala"; /*NOMBRE*/
    src: url("./fonts/FjallaOne-Regular.ttf") format(truetype); /*DIRECCION DE LA FUENTE*/
    font-weight: normal;
    font-style: normal;
}

/*ICON*/
@font-face {
    font-family: "icons"; /*NOMBRE*/
    src: url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format('svg'), /*DIRECCION DE LA FUENTE*/
         url("fonts/websymbols-regular-webfont.eot");

    src: url("fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
     url("fonts/websymbols-regular-webfont.woff") format("woff"),
     url("fonts/websymbols-regular-webfont.ttf") format("truetype");
     font-weight: normal;
     font-style: normal;
}


/* ESTILOS GENERALES */
*{
padding: 0px;
margin: 0px;
}

body{
    background-image: url(../img/paven.png);
}

/*ENLACES*/
a{
    color: #529125;
    text-decoration: none;
}
a:visited{
    color: #529125;/*si ya fue visitado que no cambie el color*/
}
a:hover{
    color: #285616;
}

/*COLORES ESTOS SE SOBRESCRIBEN POR LO QUE ES MEJOR AGREGARLES IMPORTANT*/
.red{
color: #9b2422 !important;
}

.blue{
color: #0c73f2 !important;
}

.orange{
    color: #d69d2a;
}

.icon{
    font-family: icons;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}


/*FORMULARIOS*/
input[type="text"],
input[type="email"],
input[type="password"], 
select{
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus, 
select:focus{
    border: 1px solid #70b231;
    color: black;
}

input[type="button"],
input[type="submit"],
input[type="reset"], 
button{
    display: block;
    border: 1px solid green;
    border-radius: 2px;
    width: 60px;
    padding: 3px;
    color: white;
    background-color: #70b231;
    cursor: pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover, 
button:hover{
    box-shadow: 0px 0px 2px gray; 
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active, 
button:active{
    box-shadow: 0px 0px 3px gray inset; 
    text-shadow: 0px 0px 1px #ccc;
}


header .title {
    text-align: center;
    font-size: 40px;
    font-family: 'nevis';
    text-transform: uppercase;
    letter-spacing: 4px;/*ESPACIO ENTRE CADA LETRA*/
    margin-top:10px;
    text-shadow: 0px 2px 1px #333333;/*SOMBRA*/
    transition: all 300ms;
}

header .title:hover{
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231;/*SOMBRA doble con hover- iluminacion*/
}

header .title a{
   color: #70b231;
}

/* cabecera */
header{
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto; /*CENTRAR DIV*/
}

header a{
    text-decoration: none;
}

header .logotipo{
    width: 770px;
    margin: 0px auto;
    padding-top: 20px;
}

header .logotipo img{
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 140px;
}

/* BARRA DE NAVEGACION */
#navBar{
    background-color: #333333;
    color: white;
    height: 40px;
    width: 100%;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}

#navBar ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 1090px;
}


#navBar > ul > li {
    line-height: 40px;
    float: left;
    border-right: 1px gray solid;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 300ms;
}

#navBar > ul > li a{
    color: white;
    text-decoration: none;
}

#navBar > ul > li:first-child {
    border-left: 1px solid gray;
}

#navBar > ul > li:hover{
    background-color: #70b231;
    box-shadow: 0px 0px 4px green inset; /*SOMBRA INTERIOR*/
}

/*MENU DESPLEGABLE
ocultar el menu deplegable*/
#navBar > ul > li > ul{
    display: none;
    position: absolute;/*NO ALTERAR LA WEB SOLO SOBRESALIR SIN DISFIGURARLA*/
    /*color: white;
    text-align: left;*/
    width: 160px;
    box-shadow: 0px 2px 2px gray;/*movimiento abajo color gray*/
    z-index: 1;/*PONER ENCIMA (SUPERPONGA) DE LOS ELEMENTOS*/
}

#navBar > ul > li:hover > ul{
    display: block;
}

#navBar > ul > li:hover > ul > li{
    background-color: #f2f1f0;
    border-bottom:1px solid #d6d6d6;
    padding: 8px;
    line-height: 25px;/*CENTRAR VERTICALMENT*/
    font-size: 13px; 
    transition: all 300ms;
}

#navBar > ul > li:hover > ul > li a{
    color: #666666;
  
}

#navBar > ul > li:hover > ul > li:hover{
    box-shadow: 0px 0px 6px #ccc inset;
    background: rgb(238, 237, 237);
}


/*CONTENIDO*/
#content{
    width: 1250px;
    min-height: 1100px;/*ALTURA MINIMA PARA UN SCROOL MINIMO*/
    margin: 0px auto;
}

/*BARRA LATERAL*/
#aside, #frase{
    /*clear: both;limpia ya que son relativos y flotarian uno al lado de otro (limpia flotados)*/
   width: 200px; /*SI LE AGREGAS PADING VA A CRECES LA CAJA*/
   float: left;/*LA CAJA VA A FLOTAR A LA IZQUIERDA*/
    margin: 30px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px #ccc;/*X Y tamaño color*/
    font-family: sans-serif, Arial, Helvetica;
}

#aside .widget{
    display: block;
    width: 180px;
    margin: 5px auto;
    padding: 8px;/*ARRIBA Y ABAJO*/
    padding-left: 10px;/*IZQUIERDA*/
    padding-right: 10px;/*DERECHA*/
    font-size: 14px;
    border-bottom: 1px dashed #333333;
}

#aside .widget:last-child{    
    margin-bottom: 20px; /*AL ULTIMO ELEMENTO WIDGET*/
}

#aside h3{
    display: block;
    color: #333333;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;;
    background: #f2f3f2;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}

/*FORMULARIOS BARRA LATERAL*/
#aside div label,
#aside div input[type="text"],
#aside div input[type="password"],
#aside div input[type="email"],
#aside div a
{
     display: block;/*PARA PODER MANIPULAR A MI GUSTO*/
     width: 95%;
     margin-top: 2px;
     margin-bottom: 2px;
}

#aside div input[type="button"],
#aside div input[type="submit"],
#aside div button
{   
    margin-top: 5px;
    margin-bottom: 10px;
}


#aside input,
#aside label{
    margin: 0px auto; /*CENTRAR*/
    text-align: center;
}

#aside li{
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style: square;/*ESTILO DEL PUNTO DE LA UL LISTA*/
}

#frase{
    /*clear: both;*/
    width: 180px;/*Le bajamos 20px por que originalmente lo heredado es de 200, al agregarle padding lo hacer mas grande*/
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
}


/*SECCIONES*/
#sections{
    float: right;
    width: 75%;
    font-family: sans-serif;
    margin-right: 20px;
}

#sections .titulo {
    font-family: fajala;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-top: -20px;
}

#sections section{
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #c9c9c9;
    color: #333333;
    font-size: 16px;
    overflow: hidden;
}

#sections .article{
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sections .date{
    color: gray;
    font-size: 14px;
}

#sections .stickerOne,
#sections .stickerTwo
{
    position: absolute;
    margin-top: -38px;
    z-index: 0;
}

#sections .stickerTwo
{
    margin-left: 860px;
}

