/*FUENTES*/
@font-face {
    font-family: "TreebuchetMS";
    src: url('fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue";
    src: url('fonts/BebasNeue.otf');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "WebSymbolsRegular";
    src: url('fonts/websymbols-regular-webfont.eot');
    src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('fonts/websymbols-regular-webfont.woff') format('woff'),
            url('fonts/websymbols-regular-webfont.ttf') format ('truetype'),
            url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
            font-weight: normal;
            font-style: normal;
}

/*GENERALES*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url("../img/pattern.png");
}

.wrap{
    width: 1250px;
    margin: 0px auto;
}

/*ICONOS*/
.gear, .icon{
    font-family: "WebSymbolsRegular";
}


/*CABECERA*/
#header{
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    font-family: "BebasNeue";
}

#logo{
    float: left;
    width: 200px;
    background-color: #37bcf9;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 8px;
    margin-left: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
}

#logo .gear{
    display: block;
    float: left;
    font-size: 30px;
    margin-top: 8px;
    margin-left: 26px;
}   

#logo h3{
    display: block;
    float: right;
    font-size: 40px;
    margin-top: 5px;
    margin-right: 65px;
    transition: all 300ms;
}


#menu{
    float: right;
    height: 70px;
    background: transparent;
    /* margin-right: 15%; */
}

#menu ul li {
    font-size: 24px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 70px;
}

#menu ul li a{
    color: white;
    display: block;
    text-decoration: none;
    transition: all 200ms;
}

/*ANIMACION DE ZOOM A LINK*/
#menu ul li a:hover{
    color: #37bcf9;
    transform: scale(1.2 ,1.2);

}

/*Banner*/
#banner{
    width: 95.5%;
    height: 100px;
    border: 10px solid white;
    box-shadow: 0px 0px 2px gray;
    background: url("../img/bakbaner.png");
    background-position: -200px -200px;/*MOVER EL FONDO X , Y*/
    margin: 20px;/*MARGEN A TODO*/
}

#banner h1{
    display: block;/*PARA USARLO A NUESTRO GUSTO*/
    width: 850px; /*para escritotio*/
    font-family: "BebasNeue";
    color: white;
    font-size: 45px;
    letter-spacing: 2px;
    margin: 27px auto;/*CENTRAR*/
    font-weight: normal;
    text-shadow: 2px 2px 1px black;
}


/*TARJETAS*/
.card{
    float: left;/*FLOTAR UNO A LADO DE OTRO*/
    width: 205px;/*VER PRIMERO EL TAMAÑO DE LA TARJETA*/
    height: 305px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;

    overflow: hidden;/*lo que salga de la card lo oculta*/
    margin: 22px;
    margin-top: 40px;
    background: white;
    cursor: pointer;
}

.card:last-child{
    margin-right: 0px;
}

.card .icon{
    display: block;
    width: 100%;
    height: 130px;/*ALTURA*/
    font-size: 50px;/*TAMAÑO DE ICONO*/
    line-height: 110px;
    text-align: center;
    margin: 0px auto;
}

.card .category{
    width: 100%;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #00538c;
}

.card .description{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #0370b9;
    font-size: 15px;
}

/*BARRA LATERAL*/
#lateral{
    width: 300px;
    min-height: 1200px;/*EXPANDIR DESDE AQUI*/
    font-family: "TrebuchetMS";
    float: right; /*FLOTARLO A LA DERECHA*/
    margin: 20px;
}

aside h3{
    display: block;
    width: auto;
    height: 45px;
    line-height: 49px;
    background: url(../img/pxgray.png), white;
    /*SOMBRA PROGRESIVA CAJA 3D, SOMBRA SOBRE OTRA */
    box-shadow: 0px 1px 0px #393d3f, 
                1px 2px 0px #393d3f,
                2px 3px 0px #393d3f,
                3px 4px 0px #393d3f;
    font-size: 30px;
    font-family: "BebasNeue";
    font-weight: normal;
    letter-spacing: 2px;
    padding-left: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
}

aside h3:first-child{
    margin-top: 0px;/*AFECTAR AL PRIMER ELEMENTO*/
}

#search{
    width: 90%;
    height: 30px;
    margin: 10px auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #ccc inset;/*ENFECTO AL INTERIROR INTERNI*/
}

#lateral input[type="text"]{
    width: 85%;
    height: 30px;
    border: none;
    padding-left: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: #ccc;
    transition: all 300ms;
}

#lateral input[type="text"]:focus{
    color: #555;
}

#lateral input[type="button"],
#lateral input[type="submit"]{
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-left: 1px solid #ccc;
    color: #555;
    padding-left: 6px;
}

.aside-box{
    width: 85%;
    height: 240px;
    margin: 0px auto;
    margin-top: 20px;
    padding-top: 2px;
    background: white;
    /* border: 1px black; */
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3),
                0px 3px 7px rgba(0, 0, 0, 0.3),
                0px 1px white inset,
                /*EJE Y ARRIBA*/
                0px -3px 2px rgba(0, 0, 0, 0.3) inset
                ;
}

/*EFECTO SOBRESALIR Y OPACAR AL DESELECCIONAR*/
#login input[type = "email"],
#login input[type="password"]{
    display: block; /*PARA USARLO COMO QUIERA*/
    margin: 0px auto; /*POR SI NECESITAMOS CENTRARLO*/
    margin-top: 20px;
    width: 82%;
    height: 30px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc inset;/*ENFECTO AL INTERIROR INTERNI*/
    border-radius: 5px;
    padding-left: 30px;
    color: gray;
}

#login input[type="email"]:focus,
#login input[type="password"]:focus{  
 color: #555;
 box-shadow: 1px 1px 1px gray inset;
}

/*MOVER ICONOS*/
#login #user #password{
    display: block;
    text-align: center;
    position:absolute; /*COLOCARLO DONDE ME INTERESA*/
    margin-left: 15px;
    margin-top: 6px;
    height: 30px;
}

#login #password{
    margin-left: 18px;
    margin-top: 25px;
    font-size: 20px;
}