/*ESTILOS GENERALES*/
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#container{
    width: 90%;
    height: auto;
    margin: 0px auto; /*centrar*/
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #ccc;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 600px; /*MINIMO EN ALTURA*/
}

#header{
    display: flex; /*COLOCA UN ELEMENTO A LADO DE OTRO*/
    flex-direction: row;/*COMPORTAR EN MODO DE FILA*/
    flex-wrap: wrap ; /*ENVUELTO, NO SALE DE LA CAJA*/
    align-items: center; /*ALINE VERTICALMENTE CENTRADO*/
    height: 120px;
    border: 1px solid rgba(225, 225, 226, 0.8);
}

.logo{
    flex-grow: 1;/*ACADA ELEMENTO PARA QUE OCUPE TODO EL ANCHO RESPONSIVE*/
    flex-basis: 50%;/*TAMAÑO FLEX*/
    padding: 10px;
    margin-left: 20px;
    color: black;
    text-shadow: 1px 1px 0px #ccc;
    text-transform: uppercase;
}

.logo h1{
    font-family: Helvetica;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
}

#menu{
    flex-grow: 1;/*ACADA ELEMENTO PARA QUE OCUPE TODO EL ANCHO RESPONSIVE*/
    flex-basis: 30%;
    height: 100%; 
    padding-right: 20px;
}


#menu > ul{/*CONTENEDOR DE FLEXBOX*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;/*ESPACIO ENTRE ELEMENTOS PEGADOS A LA DERECHA E IZQUIERDA*/
    height: 100%;
    list-style: none;
}

#menu a{
    color: #444;
    text-transform: uppercase;
    padding: 15px;
    transition: all 300ms;
}

#menu a:hover{
    background: #ccc;
    color: white;
}


